# Introduction into Last mile cargo bike delivery research project

Data science project using different dataset from a cargo bike company in order to determine the influence that the depot location have on the BHH continious approximation tour length. The datasets are based on the three sources:

1. GPS-tracker: GPS data is recorded on *21* cargo bike routes in various areas in the city of Groningen. The routes are located in the GPS folder within this project. 
2. Manually recorded data at the depot: ontains general information on *569* cargo bike routes. Every route data point contains the date, postal code area, type of cargo bike used (and if electrically assisted), number of parcels (categorized as small/medium/large), volume of parcels and weather conditions.
3. Company information system contains information on all the parcels. Every parcel data point contains the date, delivery address and link to which specific route the parcel belonged

This sheet will introduce the different datasets and their relations using Python data analysis libarty Pandas.

In [22]:
#first import necessary libaries including the pandas libarty
import pandas as pd
import os
import glob
from IPython.display import display, HTML

## Datasets
---
GPS data (GPS-tracker), Dabba (company information) and routedata (data at the depot) are shouldnt here

### GPS data
Containing 21 routes, therefore 21 dataframes should be initilized using Pandas. So we first need to end up with a list of 21 pandas dataframes (df)

**Question for Rudy: Why are there multiple route D, C and J?**

In [24]:
bike_dict = {}

path = os.getcwd() + "\GPS-data"
sheets = glob.glob(os.path.join(path, "*.xlsx"))
# loop over the list of route files
for sheet in sheets:
    bike_dict[sheet.split("\\")[-1].replace(".xlsx", "")[0:17]] = pd.read_excel(sheet)

# there should be 21 bike routes (for now 24 why I dont know!) in the list
print("Amount of excel files converted to pandas dataframes "+str(len(bike_dict)))
print()

for routename, dataframe in bike_dict.items():
    print(routename)
    display(HTML(dataframe.head(5).to_html()))

Amount of excel files converted to pandas dataframes 24

01-12-2021_RouteN

03-12-2021_RouteJ

10-11-2021_RouteJ

11-11-2021_RouteB

15-11-2021_RouteD

16-11-2021_RouteC

17-11-2021_RouteC

18-10-2021_RouteB

19-11-2021_RouteJ

2-11-2021_RouteJ

21-10-2021_RouteH

22-11-2021_RouteL

23-11-2021_RouteI

24-11-2021_RouteA

25-11-2021_RouteC

26-10-2021_RouteJ

26-11-2021_RouteH

27-10-2021_RouteF

28-10-2021_RouteJ

29-10-2021_RouteD

29-11-2021_RouteC

3-11-2021_RouteD

30-11-2021_RouteD

9-11-2021_RouteJ

### Manual recorded data at the depot
After converting in speets of the GPS-data into Pandas dataframes, we will switch to manual recorded data at the depot. The data used for this can be found in the file Routedata.xlsx. Lets first create a subset of the most important colums of Date, Observation, Letter code and postal code area and get the first and last 50 entries.

In [27]:
# create an dataframe
df_routedata = pd.read_excel("Routedata.xlsx")
# lets get Date, Observation, Letter code and postal code area from the recorded route dataframe 
subset_routedata = df_routedata[["Date", "Observation", "Letter code", "Postal Code Area"]]

display(HTML(subset_routedata.head(50).to_html()))
display(HTML(subset_routedata.tail(50).to_html()))

The manual route data contains the routes used in the GPS routes A until O. We only have Routes A until J in the GPS data. So as a example we can get all manual recorded routes at the depot based on Letter code A. 

**Question for Rudy: why do we only have A until J in the GPS data?**

In [29]:
display(HTML(subset_routedata[subset_routedata["Letter code"] == "A"].to_html()))

Lastly, the third datasource is the